/*!
Theme Name: UTech Seminar
Author: Renegade Coding & Designs
Author URI: http://jarenegades.com/
Description: This is a one page website theme made for use by the different seminars being held at the University of Technology.
Version: 1.2.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: utech-seminar
GitLab Theme URI: IsekaM/sem
GitLab Theme URI: https://gitlab.com/IsekaM/sem

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Utech Seminar is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
#Custom Stylesheet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Custom Styles
--------------------------------------------------------------*/

/*******************************************/
/* Typography */
/*******************************************/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, .root {
  font-size: 20px;
  line-height: 30px;
}

body {
  font-family: "Metropolis", Arial, sans-seif;
  font-size: 1em;
  line-height: 1.5em;
  color: #3b3b3b;
}

p {
  font-weight: 300;
}

h1, .heading-h1 {
  font-size: 2.85em;
  line-height: 1.05263158em;
  margin-top: 0.52631579em;
  margin-bottom: 1.05263158em;
}

h2, .heading-h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h3, .heading-h3 {
  font-size: 1.4em;
  line-height: 1.07142857em;
  margin-top: 1.07142857em;
  margin-bottom: 22px;
}

h4, .heading-h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h5, .heading-h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

.heading-bold {
  font-weight: 700;
}

.text-white {
  color: white;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*******************************************/
/* Button Styling */
/*******************************************/
.btn {
  font-family: "Metropolis", Arial, sans-seif;
  min-height: 55px;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  padding: 0 15px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
	display: inline-block !important;
	color: #3b3b3b;
}

.btn-yellow {
  background: #ffe014;
}

.btn-yellow:hover {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  background: #fad900;
}

.btn-purple {
  background: linear-gradient(120deg, rgba(150, 62, 227, 0.9) 0, rgba(233, 3, 12, 0.9) 170%);
  color: white;
}

.btn-purple:hover {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.btn-lightShadow {
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

.btn-block {
  width: 100%;
}

/*******************************************/
/* Hero Styling */
/*******************************************/
.header {
	position: relative;
  height: 100vh;
  background: linear-gradient(150deg, rgba(150, 62, 227, 0.9), rgba(233, 3, 12, 0.9) 140%), url("./assets/img/bg.jpeg") center/cover no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
	overflow: hidden;
}

.header ul {
  list-style: none;
  padding-left: 0;
}

.header li p {
  margin-bottom: 1rem;
}

.header .container-fluid {
  padding: 0px;
  width: 900px !important;
  margin: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  z-index: 10;
}

.header::after {
  background: url("./assets/img/bg_assets/shape.svg") center top/cover no-repeat;
  content: '';
  position: absolute;
  width: 110%;
  height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -1px;
}

.header_heading {
  margin-top: 0;
  margin-bottom: 35px;
  line-height: 1;
}

.header_heading-small {
  font-size: 29px;
  font-weight: 400;
}

.header-info {
  position: relative;
  z-index: 4;
}

.header-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-info i {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  text-indent: -2000px;
}

.header-info li:nth-of-type(1) i.header_vect {
  background: url("./assets/img/header/marker.png") center/contain no-repeat;
}

.header-info li:nth-of-type(2) i.header_vect {
  background: url("./assets/img/header/calendar.png") center/contain no-repeat;
}

.header_img {
  width: 100%;
  height: 100%;
  max-width: 870px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  z-index: 5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

@media (max-width: 1220px) {
  .header_img {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
  .header .container-fluid {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}

@media (max-width: 985px) {
  .header .container-fluid {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .header_img {
    display: none;
  }
}

@media (max-width: 768px) {
  .header::after {
    height: 60px;
  }
}

@media (max-width: 672px) {
  .header_heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  .header_heading-small {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}

@media (max-height: 430px) {
  .header {
    height: 530px;
  }
}

/*******************************************/
/* Main Page Styling */
/*******************************************/
body, html {
  overflow-x: hidden !important;
  max-width: 100vw;
}

.section {
  text-align: center;
}

.section-padding100 {
  padding: 100px 0;
}

.section-paddingBottom100 {
  padding-bottom: 100px;
}

.block-alignLeft {
  text-align: left;
}

.sectionSpeaker .heading-h4 {
  margin: 10px 0 5px;
}

.sectionSpeaker p {
  line-height: 1.5;
}

.sectionSpeaker .speaker_img {
  width: 100%;
  min-height: 280px;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sectionSpeaker li {
	margin-bottom: 1.8rem;
}

.sectionEvent {
  background: linear-gradient(170deg, rgba(233, 3, 12, 0.9) -30%, rgba(150, 62, 227, 0.9) 160%), url("./assets/img/event-bg.jpg") center/cover no-repeat;
  position: relative;
}

.sectionEvent h3 {
  margin-top: 0;
}

.sectionEvent ul.ul-nolist {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sectionEvent ul.ul-nolist li p:last-child {
  margin-bottom: 0;
}

.sectionEvent ul.ul-nolist:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sectionEvent ul.ul-nolist:last-of-type {
  margin-bottom: 50px;
}

.sectionEvent .sem-img {
  background-clip: content-box;
  width: 100%;
  max-height: 100%;
}

.sectionEvent::after {
  content: '';
  background: url("./assets/img/bg_assets/shape_rotate.svg") center bottom/cover no-repeat;
  content: '';
  position: absolute;
  width: 110%;
  height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -2px;
}

.sectionEvent::before {
  content: '';
  background: url("./assets/img/bg_assets/shape.svg") center top/cover no-repeat;
  content: '';
  position: absolute;
  width: 110%;
  height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -2px;
}

li.sponsorSection_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 120px;
	overflow: hidden !important;
}

.sectionContact {
  background: linear-gradient(170deg, rgba(233, 3, 12, 0.9) -30%, rgba(150, 62, 227, 0.9) 160%), url("./assets/img/contact-bg.jpeg") center/cover no-repeat;
  position: relative;
  padding-bottom: 0px !important;
}

.sectionContact::after {
  background: url("./assets/img/bg_assets/shape_rotate.svg") center bottom/cover no-repeat;
  content: '';
  position: absolute;
  width: 110%;
  height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -2px;
}

.p-noMargin {
  margin: 0;
}

.p-font16 {
  font-size: 16px;
}

.ul-nolist {
  list-style: none;
  padding: 0;
}

@media (max-width: 992px) {
  .sectionEvent .sem-img {
    margin-bottom: 1.2rem;
  }
  .sectionSponsor li {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .section-padding100 {
    padding: 40px 0 50px;
  }
  .section-padding100:first-of-type {
    padding-top: 50px;
  }
  .section-paddingBottom100 {
    padding-bottom: 50px;
  }
  .section-paddingBottom100:last-of-type {
    padding-bottom: 100px;
  }
  .sectionEvent::after, .sectionContact::after {
    height: 60px;
  }
  .sectionEvent::before {
    height: 60px;
  }
}


/*******************************************/
/* Main Page Styling */
/*******************************************/

main#pageMain {
	padding-bottom: 2rem;
}

.main_heading {
	position: relative;
	height: 57vh;
	min-height: 320px;
	background: linear-gradient(135deg, rgba(150, 62, 227, 0.9), rgba(233, 3, 12, 0.9) 110%);
}

.main_heading::after {
	height: 34%;
	background: url("./assets/img/bg_assets/shape.svg") center 0px/cover no-repeat;
  content: '';
  position: absolute;
  width: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -2px;
}

.main_heading h1  {
	margin: 0;
	padding-top: 13vh;
	font-size: 3rem;
	line-height: 2.2rem
}

.main_heading h1 .main_heading-small {
	font-size: 1.5rem;
	font-weight: normal;
}

div.container.adjust {
	margin-top: -24vh;
}

.tabSection {
	margin-bottom: 0;
}

.tab_container {
	margin-bottom: 1.5rem;
	transition: transform 150ms ease-in;
}

.tab_container:hover {
	transform: scale(1.03);
}

.tab_container > a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

div.tab {
	border-radius: 3px;
	-webkit-box-shadow: 0px 5px 20px rgba(107, 107, 107, .30);
	        box-shadow: 0px 5px 20px rgba(107, 107, 107, .30);
	height: 100%;
	position: relative;
	overflow: hidden;
}

div.tab:hover {
	box-sizing: 0 50px 10px rgba(107, 107, 107, .80)
}

.tab p {
	padding-right: 20px;
	padding-left: 20px;
	position: absolute;
	bottom: 20px;
	font-weight: bold;
	color: white;
}

@media (max-width: 388px) {
	.main_heading h1  {
		font-size: 2rem;
		line-height: 1.5rem
	}

	.main_heading h1 .main_heading-small {
		font-size: 1rem;
	}
}

@media (max-height: 420px)  {
	div.container.adjust {
		margin-top: -35vh;
		max-width: 90%;
	}

}



/*******************************************/
/* Footer Styling */
/*******************************************/
.footer {
  margin-top: 70px;
  font-size: 16px;
  padding-bottom: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social li a {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  margin-right: 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  text-indent: -100000px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social li a:hover {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.social_fb {
  background: url("./assets/img/footer/fb.png") center/contain no-repeat;
}

.social_insta {
  background: url("./assets/img/footer/insta.png") center/contain no-repeat;
}

.social_twitter {
  background: url("./assets/img/footer/twitter.png") center/contain no-repeat;
}

.social_google {
  background: url("./assets/img/footer/google.png") center/contain no-repeat;
}

/*******************************************/
/* Form Styling */
/*******************************************/
.sectionContact form, .sectionSSU form {
  padding: 0 100px;
}

.sectionSSU .btn-yellow {
  margin-top: 15px;
}

input, textarea, select {
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  width: 100%;
  padding: 10px 0;
  font-family: "Metropolis", Arial, sans-seif;
  font-size: 16px;
  color: white;
}

option {
  color: #3b3b3b;
  margin-top: 10px;
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
}

input, select {
  margin-bottom: 20px;
}

textarea {
  margin: 33px 0 30px;
  min-height: 160px;
  resize: none;
}

::-webkit-input-placeholder {
  color: #e8e8e8;
}

:-ms-input-placeholder {
  color: #e8e8e8;
}

::placeholder {
  color: #e8e8e8;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  -webkit-transition: .15s linear;
  transition: .15s linear;
  font-size: .65rem;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  -webkit-transition: .15s linear;
  transition: .15s linear;
  font-size: .65rem;
}

input:focus::placeholder, textarea:focus::placeholder {
  -webkit-transition: .15s linear;
  transition: .15s linear;
  font-size: .65rem;
}

@media (max-width: 992px) {
  .sectionSSU form {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .sectionContact form {
    padding: 0;
  }
  .sectionContact form input {
    margin-top: .8rem;
  }
  .sectionContact form textarea {
    margin-top: 1rem;
  }
}

/*******************************************/
/* Pop up Styling */
/*******************************************/
.sectionSSU {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: scroll;
  background: linear-gradient(135deg, rgba(233, 3, 12, 0.9) -30%, rgba(150, 62, 227, 0.9) 120%);
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-bottom: 1.5rem;
}

.sectionSSU .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sectionSSU .ul-nolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.sectionSSU .heading-h4 {
  margin: 0;
}

.js_showSection {
  visibility: visible;
}

.sectionSSU_package {
  width: 250px;
  background: white;
  border-radius: 3px;
  padding: 0 30px 20px;
  margin-right: 40px;
  height: auto;
}

.sectionSSU_package:last-of-type {
  margin-right: 0;
}

.sectionSSU_package:nth-of-type(2) .sectionSSU_header {
  position: relative;
}

.sectionSSU_body {
  margin: 30px 0;
}

.sectionSSU_body p {
  font-size: 16px;
  margin-bottom: 0;
}

.sectionSSU_price p {
  margin: 0 0 10px;
  font-weight: 700;
}

#sectionSSU_close {
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .sectionSSU .ul-nolist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sectionSSU_package {
    margin: 0 0 2rem;
  }
}

@media (max-width: 576px) {
  #sectionSSU_close {
    font-size: 1.7rem;
    top: .7rem;
    right: .8rem;
  }
  .sectionSSU {
    padding: 1rem 0;
  }
}

.text-center {
  text-align: center;
}

/*--------------------------------------------------------------
## Contact Form 7 Styles
--------------------------------------------------------------*/

.wpcf7-submit {
	display: inline-block;
	width: auto;
	font-size: 1rem;
}

span.wpcf7-not-valid-tip {
	color: #ffe014;
	text-align: left;
	font-size: .8rem;
	font-weight: bold
}

/*--------------------------------------------------------------
## Map Styles
--------------------------------------------------------------*/

.acf-map {
	width: 100%;
	height: 600px;
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

main {
	position: relative;
}


/*--------------------------------------------------------------
## Logged In styles
--------------------------------------------------------------*/
.logged-in .sectionSSU {
	-webkit-transform: translateY(32px);
	        transform: translateY(32px);
}

@media (max-width: 600px) {
	.logged-in .sectionSSU {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
}
